@using WebApplication1.ViewModels
@model FileUploadViewModel

@{ 
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    Bulk Upload
}

@section ContentBody{
    <div>
        <a href="/Employee/Index">Back</a>
        <form action="/BulkUpload/Upload" method="post" enctype="multipart/form-data">
            Select File: <input type="file" name="FileUpload" value="" />
            <input type="submit" name="btnSubmit" value="Submit" />
        </form>
    </div>
    }


