@using WebApplication1.ViewModels.SPA
@model MainViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/themes/base/all.css" rel="stylesheet"/>
        <script src="~/Scripts/jquery-1.12.4.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.0.js"></script>
        <script>
            function OpenAddNew() {
                $.get("/SPA/Main/AddNew").then
                    (
                        function (r) {
                            $("<div id='DivCreateEmployee'></div>").html(r).
                                dialog({
                                    width: 'auto', height: 'auto', modal: true, title: "Create New Employee",
                                    close: function () {
                                        $('#DivCreateEmployee').remove();
                                    }
                                });
                        }
                    );
            }

            function OpenBulkUpload()
            {
                $.get("/SPA/SPABulkUpload/Index").then
                (
                    function (r)
                    {
                        $("<div id='divBulkUpload'></div>").html(r).dialog(
                    {width: 'auto', height: 'auto', modal: true, title: "Create New Employee", close: function(){$('#divBulkUpload').remove();}}
                        );
                    }
                )
            }
        </script>

        <title>Employee Single Page Application</title>
    </head>
    <body>
        <div>
            @Html.Action("EmployeeList", "Main")
        </div>

        @Html.Partial("Footer", Model.FooterData)
    </body>
</html>

