@using WebApplication1.ViewModels.SPA
@model MainViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Employee Single Page Application</title>
    </head>
    <body>
        <div>
            @Html.Action("EmployeeList", "Main")
        </div>

        @Html.Partial("Footer", Model.FooterData)
    </body>
</html>
